.project-rename__container,
.project-creation__container {
  padding: 0 2rem;
  /* Because gap creates gap on top of input i added bottom padding on container */
  padding-bottom: 1.6rem;
  text-align: center;
  background-color: var(--Ghost-white);
  border-radius: var(--border-radius-value);
  box-shadow: var(--box-shadows);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  /* gap create a top gap at input */
  gap: 1.6rem;
  display: none;
}

#rename-action,
#creation-action {
  /* Keep the input on top row  */
  grid-column: 1/-1;
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius-value);
}

#rename-action:focus-visible,
#creation-action:focus-visible {
  outline: 2px solid var(--Ghost-white3);
}
