.left-section__projects {
  padding: 1rem;
}
.left-section__projects > h2 {
  border-bottom: 2px solid var(--Ghost-white);

  padding-bottom: 1rem;
}

.left-section__projects__container {
}

.left-section__projects__container ul {
  display: flex;
  flex-direction: column;
}

.left-section__projects__container ul > li {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius-value);
  width: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 1rem;
}

.left-section__projects__container ul > li:hover {
  background-color: var(--Ghost-white);
  box-shadow: var(--box-shadows);
  cursor: pointer;
}

/* Select all p when li is hover */
.left-section__projects__container ul > li:hover p {
  color: var(--Ultramarine-blue);
}

/* Select all svg when li is hover */

.left-section__projects__container ul > li:hover svg {
  fill: var(--Ultramarine-blue);
}

/* Select in the last svg icon for hover */
.left-section__projects__container ul > li svg:last-child:hover {
  transform: scale(1.2);
}
