.left-section__projects {
  padding: 1rem;
}
.left-section__projects > h2 {
  border-bottom: 2px solid var(--Ghost-white);

  padding-bottom: 1rem;
}

.left-section__projects__container ul {
  display: flex;
  flex-direction: column;
}

.left-section__projects__container ul > li {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius-value);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto max-content;
  align-items: center;
  gap: 0.5rem;
}

#projectInput {
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}

#projectInput:focus {
  outline: 1px solid var(--Ghost-white3);
}

#garbageIcon {
  filter: invert(53%) sepia(16%) saturate(326%) hue-rotate(199deg) brightness(90%) contrast(88%);
}

#garbageIcon:hover {
  transform: scale(1.2);
}

.left-section__projects__container ul > li:hover {
  background-color: var(--Ghost-white);
  box-shadow: var(--box-shadows);
  cursor: pointer;
}

/* Select all p when li is hover */
.left-section__projects__container ul > li:hover p {
  color: var(--Ultramarine-blue);
}

/* Select all svg when li is hover */

.left-section__projects__container ul > li:hover svg {
  fill: var(--Ultramarine-blue);
}

.left-section__projects__container ul > li:hover #garbageIcon {
  filter: invert(38%) sepia(72%) saturate(1087%) hue-rotate(208deg) brightness(93%) contrast(97%);
}
