.project-rename__container {
  width: 100%;
  padding: 1.6rem 2rem;
  text-align: center;
  background-color: var(--Ghost-white);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgb(237, 237, 237);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(101px, 1fr));
  column-gap: 1.6rem;
}

#rename-action {
  grid-column: 1/-1;
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

#rename-action:focus-visible {
  outline: 2px solid var(--Ghost-white3);
}

#rename-action::placeholder {
  font-size: 1.3rem;
}

.project-rename__container > button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding: 1rem 2rem;
  background-color: var(--Ultramarine-blue);
  color: var(--Ghost-white);

  font-weight: 500;
  font-size: 1.6rem;
}

.project-rename__container > button:nth-child(3) {
  /* margin-right: 2rem; */
}

.project-rename__container > button:hover {
  background-color: var(--Ultra-Red);
  transform: scale(1.02);
}

.project-rename__container > button:active {
  transform: translateY(2px);
  transition: 0.1s;
  background-color: var(--Paradise-Pink);
}
