.main__task-list__container {
  width: 100%;
}

.main__task-list__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.main__task-list__list-item {
  border-radius: 25px;
  border-left: 10px solid red;
  background-color: var(--White);
}

/* Add Task style */
.main__task-list__add-task_container {
  width: 100%;
  display: flex;
  background-color: var(--White);
  padding: 1rem 0.8rem;
  gap: 0.2rem;
}

.main__task-list__add-task_container > svg:hover {
  fill: var(--Ultramarine-blue);
}

#main__task-list__add-task {
  width: 100%;
  border: none;
  padding: 0rem 0.2rem;
}

#main__task-list__add-task:focus {
  outline: none;
}
