.main__container__header {
  display: none;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.main__container__header.visible {
  display: flex;
}

.main__container__header h2 {
  width: 50%;
  font-size: 2.4rem;
  padding: 1.6rem 2rem;
  border-radius: var(--border-radius-value);
  /* background-color: var(--White); */
  user-select: none;
}

.main__header__sort-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.8rem;
  border-radius: var(--border-radius-value);
  user-select: none;
}

.main__header__sort-container svg {
  width: 20px;
}

.main__header__sort-container:hover {
  background-color: var(--Ghost-white3);
  box-shadow: var(--box-shadows);
  transform: scale(1.02);
}

.main__header__sort-container:active {
  transform: translateY(1px);
}

.main__header__sort-container:hover,
.main__header__sort-container:hover svg {
  color: var(--Ultramarine-blue);
  cursor: pointer;
  fill: var(--Ultramarine-blue);
}
