.main__task-list__container {
  width: 100%;
  /* display: none; */
}

/* List Style */
.main__task-list__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* ----------------------------------------------------------- */

/* List item style */
.main__task-list__list-item {
  padding: 2rem;
  background-color: var(--White);
  min-height: 260px;

  border-radius: var(--border-radius-value);
  border-left: 8px solid var(--battleship-gray);

  display: grid;
  grid-template-columns: 3fr 330px;
  grid-template-rows: auto auto 1fr 2fr;
  column-gap: 0.8rem;
  row-gap: 1rem;
}

.main__task-list__list-item.low {
  border-left: 8px solid var(--Carolina-blue);
}
.main__task-list__list-item.medium {
  border-left: 8px solid var(--Maximum-yellow-red);
}
.main__task-list__list-item.high {
  border-left: 8px solid var(--Orange-red-crayola);
}

/* ------------------------------------------------------------ */

/* List item header */
.main__task-list__list-item__title-container {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  padding: 0.4rem;
}

.main__task-list__list-item__title-container div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#main__task-list__list-item__title {
  width: 100%;
  margin-right: 27rem;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
}

/* when checkbox is active */
.checked {
  text-decoration: line-through;
  color: var(--Dark-liver);
  user-select: none;
}

#main__task-list__list-item__title:focus {
  outline: 1px solid var(--Ghost-white3);
}

.main__task-list__list-item__title-container div:nth-child(1) {
  flex: 1;
}

/* Make task left svg a bit smaller */
.main__task-list__list-item__title-container div:nth-child(1) svg {
  width: 12px;
}

/* -------------------------------------------------------------- */
/* List Item Notes */
.main__task-list__list-item__notes-container {
  grid-column: 1/2;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
}

.main__task-list__list-item__notes-container label {
  margin-bottom: 0.4rem;
}

#main__task-list__list-item__textarea {
  resize: none;
  height: 100%;
  width: 100%;
  background-color: var(--Ghost-white);
  padding: 1rem;
  border-radius: var(--border-radius-value);

  border: none;
}

#main__task-list__list-item__textarea:focus {
  outline: 2px solid var(--Ghost-white3);
}

/* ---------------------------------------------------------------- */

/* List Item Date */
.main__task-list__list-item__date-container {
  grid-column: 2/3;
  grid-row: 2/3;
}

.main__task-list__list-item__date-title {
  margin-bottom: 0.4rem;
}

.main__task-list__list-item__date-container > div {
  display: flex;
}

#today-btn {
  border-top-left-radius: var(--border-radius-value);
  border-bottom-left-radius: var(--border-radius-value);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#tomorrow-btn {
  border-radius: 0px;
}

#main__task-list__list-item__date {
  border: none;
  background-color: var(--Ultramarine-blue);
  color: var(--White);
  padding: 1rem;
  border-top-right-radius: var(--border-radius-value);
  border-bottom-right-radius: var(--border-radius-value);
}

#main__task-list__list-item__date:hover,
.main__task-list__list-item__date-container > div > button:hover {
  background-color: var(--Ultra-Red);
}

#main__task-list__list-item__date:active,
.main__task-list__list-item__date-container > div > button:active {
  transform: translateY(1px);
}

#main__task-list__list-item__date:focus,
.main__task-list__list-item__date-container > div > button:focus {
  outline: none;
  background-color: var(--Paradise-Pink);
  position: relative;
}

/* change the color of date icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

/* -------------------------------------------------------------------- */

/* List Item Priority */
.main__task-list__list-item__priority-container {
  grid-column: 2/3;
  grid-row: 3/4;

  display: flex;
  flex-direction: column;
}

.main__task-list__list-item__priority-container label {
  margin-bottom: 0.4rem;
}

#main__task-list__list-item__priority {
  border: none;
  background-color: var(--Ultramarine-blue);
  color: var(--White);
  border-radius: var(--border-radius-value);
  outline: none;
  padding: 1rem;
  cursor: pointer;
}

#main__task-list__list-item__priority option {
  background: var(--Ghost-white);
  color: var(--Dark-liver);
}

/* ------------------------------------------------------------ */

/* List Item Btn */
.main__task-list__list-item__delete-task__btn {
  justify-self: end;
  align-self: flex-end;
}

/* ------------------------------------------------------------------------------ */

/* Add Task style */
.middle__task-list__add-task_container {
  width: 100%;
  padding: 1rem 0.8rem;
  gap: 0.2rem;
  border-radius: var(--border-radius-value);
  background-color: var(--White);
  display: none;
}

.middle__task-list__add-task_container.visible {
  display: flex;
}

.middle__task-list__add-task_container:focus-within {
  border: 1px solid var(--Ghost-white3);
}

.middle__task-list__add-task_container > svg:hover {
  fill: var(--Ultramarine-blue);
}

#main__task-list__add-task,
#todo__task-list__add-todo {
  width: 100%;
  border: none;
  padding: 0rem 0.2rem;
}

#main__task-list__add-task:focus,
#todo__task-list__add-todo:focus {
  outline: none;
}
