.middle-section__noprojects__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--opacity-transition);
  text-align: center;
}

.middle-section__noprojects__container.visible {
  /* display: flex; */
}

.middle-section__noprojects__container > svg {
  height: auto;
  width: 200px;
}

.middle-section__noprojects__container h2 {
}
