#left-section {
  flex: 1;
  max-width: 400px;
  background-color: var(--White);
  padding: 2rem;
  border-radius: var(--bottom-radius-section);

  display: flex;
  flex-direction: column;
}
.left-section__home-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.left-section__home-container > h2 {
  border-bottom: 2px solid var(--Ghost-white);
  padding-bottom: 1rem;
  /* color: var(--Ultramarine-blue); */
}

/* Select the divs in home container  */
.left-section__home-container > div {
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr auto;
  align-items: center;
  gap: 1rem;
}

.left-section__home-container > div > p {
  font-weight: 800;
  font-size: 1.9rem;
}

.left-section__home-container > div:hover {
  background-color: var(--Ghost-white);
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--gainsboro);
}
.left-section__home-container > div:hover * {
  fill: var(--Ultramarine-blue);
  color: var(--Ultramarine-blue);
}

.left-section__home-container > div > svg:hover {
  transition: 0.5s ease-in-out;
  transform: rotate(360deg);
}

/* ----------------------------------------------- */

/* Project Title */
.left-section__projects > h2 {
  border-bottom: 2px solid var(--Ghost-white);

  padding-bottom: 1rem;
}
.left-section__projects__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.left-section__projects__container ul > li {
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  /* Relative for user actions */
  position: relative;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.left-section__projects__container ul > li:hover {
  background-color: var(--Ghost-white);
  box-shadow: 0px 0px 5px 1px var(--gainsboro);

  border-radius: 5px;
  cursor: pointer;
}

.left-section__projects__container ul > li:hover * {
  fill: var(--Ultramarine-blue);
  color: var(--Ultramarine-blue);
}

/* ------------------------------------------------- */

/* Add Project Btn */

.left-section__projects__add-btn {
  align-self: center;
  width: 80%;
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: var(--Ultramarine-blue);
  box-shadow: 0px 0px 5px 1px var(--gainsboro);
  color: var(--Ghost-white);

  font-weight: 600;
  font-size: 1.8rem;
}

.left-section__projects__add-btn:hover {
  background-color: var(--Ultra-Red);
}

/* ----------------------------------------------------- */

/* User Action Rename and Delete style */
.left-section__projects__user-actions {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 0px 5px 1px var(--gainsboro);
  /* Pixels working with page zoom */
  right: -55px;
  top: -70px;
  display: none;
}
.left-section__projects__user-actions > button:nth-child(1) {
  border-radius: 10px 10px 0px 0px;
}
.left-section__projects__user-actions > button:nth-child(2) {
  border-radius: 0px 0px 10px 10px;
}
.left-section__projects__user-actions > button {
  border: none;
  padding: 1rem;
  background-color: var(--White);
  color: var(--Dark-liver);
}
.left-section__projects__user-actions button:hover {
  color: var(--White) !important;
  background-color: var(--Ultramarine-blue);
}
/* -------------------------------------------------------- */

/* Project submit form style  hidden until user action*/
.aside-section__project-submit__form,
.aside-section__project-rename__form {
  width: 70%;
  min-width: min-content;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  justify-content: center;
  gap: 1rem;

  border-radius: 5px;
}

/* Project form btn styles */
.aside-section__project-submit__add-btn {
  background-color: var(--Celeste);
}

.aside-section__project-submit__cancel-btn {
  background-color: var(--Ultra-Red);
}

.aside-section__project-submit__add-btn,
.aside-section__project-submit__cancel-btn,
#aside-section__project-submit__title,
#aside-section__project-rename__title {
  display: none;
  border: none;
  border-radius: 2px;
}

#aside-section__project-submit__title,
#aside-section__project-rename__title {
  grid-column: 1/-1;
  text-align: center;
}
