:root {
  --rich-black: #0e0e0f;
  --eerie-black: #212121;
  --gainsboro: #dbd6dd;
  --battleship-gray: #898989;
  --desert-sand: #ebbca1;
  --white: #ffff;
  --canary: #fff689;
  --Verdigris: #28afb0;
  --Orange-Yellow-Crayola: #f4d35e;
  --Orange-red-crayola: #ff5757;
  --Paradise-Pink: #ef476f;
  --Caribian-Green: #06cfd6;
  --Ultra-Red: #ff6978;
  --Baby-Powder: #fffcf9;
  --Celeste: #b1ede8;
  --Carolina-blue: #4e9fd1;
  --Robin-egg-blue: #42c7c8;
  --Blue-yonder: #4874a8;
  --Cyber-grape: #5e4170;
  --Purple-Navy: #595386;
  --Pistachio: #8ac06d;
  --Maximum-yellow-red: #ffcc74;
  --Blue-sapphire: #125d82;
  --Magnolia: #e5e2eb;
  --Ghost-white: #f1f4fd;
  --Ghost-white2: #f7f6fb;
  --Ghost-white3: #e3e6ed;
  --Ultramarine-blue: #5468ea;
  --White: #ffffff;
  --Dark-liver: #7b7c8e;

  /* ----border--- */
  --top-radius: 30px 30px 0px 0px;
  --bottom-radius: 0px 0px 30px 30px;
  --bottom-radius-section: 0px 0px 0px 30px;

  /* DATE Input border radius */
  --border-radius-value: 10px;

  /* Box-Shadows */
  --box-shadows: 1px 1px 2px 1px #ededed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 5rem;
  background-color: var(--Magnolia);
  display: grid;
  font-size: 1.6rem;
  color: var(--Dark-liver);
  font-family: Arial, Helvetica, sans-serif;
  /*   --jb-date-input-value-color: var(--White);
  --jb-date-input-bgcolor: var(--Ultramarine-blue);
  --jb-date-input-box-height: max-content;
  --jb-date-input-margin: 1rem; */
}

button {
  padding: 1.2rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-value);
  background-color: var(--Ultramarine-blue);
  color: var(--Ghost-white);
}

button:hover {
  transform: scaleX(1.025);
  transition: 0.1s;
  background-color: var(--Ultra-Red);
}

button:active {
  transform: translateY(2px);
  transition: 0.1s;
  background-color: var(--Paradise-Pink);
}

button,
label,
input,
textarea,
select,
option {
  font-size: 1.6rem;
  font-family: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: var(--eerie-black);
}

svg {
  fill: var(--Dark-liver);
  height: 24px;
  width: 24px;
}

#bg {
  border-radius: 35px;
  background-color: var(--White);
  display: grid;
  grid-template-rows: max-content auto;
}

header {
  background-color: var(--White);
  padding: 2rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

main {
  display: flex;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.active {
  background-color: var(--Ghost-white);
}
