:root {
  --rich-black: #0e0e0f;
  --eerie-black: #212121;
  --gainsboro: #dbd6dd;
  --battleship-gray: #898989;
  --desert-sand: #ebbca1;
  --white: #ffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(210px, 1fr) 5fr;
  grid-template-rows: auto 5fr;
  gap: 0.1rem;

  font-size: 1.8rem;
}

img {
  filter: invert(80%);
}

.main-section__submit-form__task-edit,
.projects-btn__add-project img,
.main-section__submit-form__task-important.disable,
.main-section__submit-form__task-important.enable {
  filter: invert(0%);
}

header,
aside,
main {
  background-color: var(--eerie-black);
  color: var(--gainsboro);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

header {
  grid-column: 1/-1;
  grid-row: 1/1;
}

aside {
  grid-column: 1/2;
  grid-row: 2/-1;
}

main {
  grid-column: 2/-1;
}

.projects-form {
  border: 2px solid var(--battleship-gray);
}

#aside-section__tasks {
  margin-bottom: 10rem;
}

#aside-section__tasks > h2,
#aside-section__projects > h2 {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid var(--battleship-gray);
}

#aside-section__tasks > div {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

#aside-section__tasks > div p > span {
  position: absolute;
  right: calc(0% + 1rem);
}

.projects-btn__add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  font-size: 2.2rem;
}

.main-section__project-container {
  padding: 2rem 2rem;
  background-color: var(--white);
  color: var(--rich-black);
  border-radius: 4px;
}
